/* Style the tab */

div.ExperianceTab {
    overflow: hidden;
    margin-left: 160px;
}

div.ExperianceYearTab {
    overflow: hidden;
    margin-left: 160px;
}

/* Style the buttons inside the tab */
div.ExperianceTab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    width: 100px;
    transition: 0.3s;
    font-size: 15px;
    background-color: rgb(235, 235, 245); /* Green */
    color:#5074b8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px 20px;
}

div.ExperianceYearTab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 16px;
    width: 100px;
    transition: 0.3s;
    font-size: 9px;
    background-color: rgb(248, 248, 250); /* Green */
    color:#22375f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Change background color of buttons on hover */
div.ExperianceTab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.ExperianceTab button.active {
    background-color: #6580b3;
    color: whitesmoke;
    border-radius: 50px 20px;
}

